In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("Five Dimension Index (1990-2016, East Asia, NA).csv")
df

,Country,Year,Health Access Quality Index,Annual CO2 emissions (per capita),Civil Liberty Status,Productivity: output per hour worked,Human Development Index,"Government expenditure on education, total (% of GDP)"
0,China,1990,42.6,2.1114,7,2.189328,0.484,NaN
1,China,1995,47.6,2.7060,7,3.042031,NaN,1.84192
2,China,2000,53.3,2.6649,6,3.524101,0.584,NaN
3,China,2005,62.0,4.4159,6,5.240102,NaN,NaN
4,China,2010,71.3,6.2950,6,8.160232,0.691,3.75464
5,China,2016,77.9,6.8742,6,8.160232,0.733,3.75464
6,Japan,1990,80.9,9.3009,1,27.704778,0.845,NaN
7,Japan,1995,83.9,9.8098,2,34.962362,NaN,NaN
8,Japan,2000,86.9,9.9148,2,39.469041,0.877,NaN
9,Japan,2005,90.2,10.0554,2,42.499860,NaN,NaN
10,Japan,2010,92.3,9.4507,2,43.543932,0.898,NaN
11,Japan,2016,94.1,9.4215,1,42.681710,0.918,NaN
12,South Korea,1990,59.5,5.8359,3,12.182273,0.737,NaN
13,South Korea,1995,71.2,8.4715,2,18.621534,NaN,NaN
14,South Korea,2000,74.4,9.2980,2,21.869510,0.825,NaN
15,South Korea,2005,83.0,10.2578,2,28.836795,NaN,NaN
16,South Korea,2010,87.7,12.0210,2,34.401586,0.890,NaN
17,South Korea,2016,90.3,12.5386,2,36.877333,0.909,NaN
18,North Korea,1990,49.6,6.0316,7,NaN,NaN,NaN
19,North Korea,1995,50.7,3.7169,7,NaN,NaN,NaN
20,North Korea,2000,47.6,3.0165,7,NaN,NaN,NaN
21,North Korea,2005,47.8,3.1342,7,NaN,NaN,NaN
22,North Korea,2010,51.4,2.0377,7,NaN,NaN,NaN
23,North Korea,2016,53.4,1.1622,7,NaN,NaN,NaN
24,Taiwan,1990,60.6,6.0583,3,23.624458,NaN,NaN
25,Taiwan,1995,65.5,7.9075,3,29.068553,NaN,NaN
26,Taiwan,2000,71.8,10.3329,2,37.698467,NaN,NaN
27,Taiwan,2005,78.0,11.7354,1,43.208619,NaN,NaN
28,Taiwan,2010,82.9,11.6506,2,44.560103,NaN,NaN
29,Taiwan,2016,85.4,11.8428,1,43.079841,NaN,NaN
30,Mongolia,1990,36.6,4.5281,4,NaN,0.579,NaN
31,Mongolia,1995,36.4,3.4375,3,NaN,NaN,NaN
32,Mongolia,2000,38.7,3.1229,3,NaN,0.598,NaN
33,Mongolia,2005,47.2,3.3936,2,NaN,NaN,NaN
34,Mongolia,2010,52.3,5.0810,2,NaN,0.701,NaN
35,Mongolia,2016,53.4,8.2866,2,NaN,0.732,NaN
36,United States,1990,80.7,20.2818,1,45.162866,0.872,NaN
37,United States,1995,85.1,20.4459,1,49.044581,NaN,NaN
38,United States,2000,86.8,21.3357,1,55.113313,0.891,NaN
39,United States,2005,87.3,20.7954,1,62.522420,NaN,NaN
40,United States,2010,88.8,18.3676,1,68.205619,0.911,NaN
41,United States,2016,88.7,16.2469,1,70.920889,0.920,NaN
42,Canada,1990,83.2,16.6298,1,39.458393,0.860,NaN
43,Canada,1995,85.7,16.8341,1,43.244484,NaN,NaN
44,Canada,2000,89.3,18.5218,1,48.099701,0.890,NaN
45,Canada,2005,91.2,17.9035,1,53.216467,NaN,NaN
46,Canada,2010,92.8,16.3644,1,52.574201,0.911,NaN
47,Canada,2016,93.8,15.3799,1,54.124076,0.926,NaN

In [34]:
Dict = { 'China': { '1990':{},'1995':{},'2000':{} },
         'Japan': { '1990':{},'1995':{},'2000':{}}}

In [22]:
years = ['1990','1995','2000',"2005","2010","2016"]
country = ['China','Japan']
features = ['Health','CO2',"Civil"]

In [35]:
print(Dict)

{'China': {'1990': {}, '1995': {}, '2000': {}}, 'Japan': {'1990': {}, '1995': {}, '2000': {}}}

In [30]:
print(Dict)

{'2016': {'Japan': {}}}