In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("Five Dimension Index (1990-2016, East Asia, NA).csv")
df

,Country,Year,Health Access Quality Index,Annual CO2 emissions (per capita),Civil Liberty Status,Productivity: output per hour worked,Human Development Index,"Government expenditure on education, total (% of GDP)",Average Life Expectancy,Total population (millions),GDP per capita,Gender Gap Index
0,China,1990,42.6,2.1114,7,2.189328,0.484,NaN,NaN,NaN,NaN,NaN
1,China,1995,47.6,2.7060,7,3.042031,NaN,1.84192,NaN,NaN,NaN,NaN
2,China,2000,53.3,2.6649,6,3.524101,0.584,NaN,NaN,NaN,NaN,NaN
3,China,2005,62.0,4.4159,6,5.240102,0.638,NaN,72.98,1315.8,7204.0,0.656
4,China,2010,71.3,6.2950,6,8.160232,0.691,3.75464,NaN,NaN,NaN,NaN
5,China,2016,77.9,6.8742,6,8.160232,0.733,3.75464,NaN,NaN,NaN,NaN
6,Japan,1990,80.9,9.3009,1,27.704778,0.845,NaN,NaN,NaN,NaN,NaN
7,Japan,1995,83.9,9.8098,2,34.962362,NaN,NaN,NaN,NaN,NaN,NaN
8,Japan,2000,86.9,9.9148,2,39.469041,0.877,NaN,NaN,NaN,NaN,NaN
9,Japan,2005,90.2,10.0554,2,42.499860,0.889,NaN,81.93,128.1,30615.0,0.645
10,Japan,2010,92.3,9.4507,2,43.543932,0.898,NaN,NaN,NaN,NaN,NaN
11,Japan,2016,94.1,9.4215,1,42.681710,0.918,NaN,NaN,NaN,NaN,NaN
12,South Korea,1990,59.5,5.8359,3,12.182273,0.737,NaN,NaN,NaN,NaN,NaN
13,South Korea,1995,71.2,8.4715,2,18.621534,NaN,NaN,NaN,NaN,NaN,NaN
14,South Korea,2000,74.4,9.2980,2,21.869510,0.825,NaN,NaN,NaN,NaN,NaN
15,South Korea,2005,83.0,10.2578,2,28.836795,0.860,NaN,78.17,47.8,20590.0,0.616
16,South Korea,2010,87.7,12.0210,2,34.401586,0.890,NaN,NaN,NaN,NaN,NaN
17,South Korea,2016,90.3,12.5386,2,36.877333,0.909,NaN,NaN,NaN,NaN,NaN
18,North Korea,1990,49.6,6.0316,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,North Korea,1995,50.7,3.7169,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,North Korea,2000,47.6,3.0165,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,North Korea,2005,47.8,3.1342,7,NaN,NaN,NaN,68.39,NaN,NaN,NaN
22,North Korea,2010,51.4,2.0377,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,North Korea,2016,53.4,1.1622,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Taiwan,1990,60.6,6.0583,3,23.624458,NaN,NaN,NaN,NaN,NaN,NaN
25,Taiwan,1995,65.5,7.9075,3,29.068553,NaN,NaN,NaN,NaN,NaN,NaN
26,Taiwan,2000,71.8,10.3329,2,37.698467,NaN,NaN,NaN,NaN,NaN,NaN
27,Taiwan,2005,78.0,11.7354,1,43.208619,NaN,NaN,77.44,NaN,NaN,NaN
28,Taiwan,2010,82.9,11.6506,2,44.560103,NaN,NaN,NaN,NaN,NaN,NaN
29,Taiwan,2016,85.4,11.8428,1,43.079841,NaN,NaN,NaN,NaN,NaN,NaN
30,Mongolia,1990,36.6,4.5281,4,NaN,0.579,NaN,NaN,NaN,NaN,NaN
31,Mongolia,1995,36.4,3.4375,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Mongolia,2000,38.7,3.1229,3,NaN,0.598,NaN,NaN,NaN,NaN,NaN
33,Mongolia,2005,47.2,3.3936,2,NaN,0.649,NaN,65.10,2.6,2175.0,0.682
34,Mongolia,2010,52.3,5.0810,2,NaN,0.701,NaN,NaN,NaN,NaN,NaN
35,Mongolia,2016,53.4,8.2866,2,NaN,0.732,NaN,NaN,NaN,NaN,NaN
36,United States,1990,80.7,20.2818,1,45.162866,0.872,NaN,NaN,NaN,NaN,NaN
37,United States,1995,85.1,20.4459,1,49.044581,NaN,NaN,NaN,NaN,NaN,NaN
38,United States,2000,86.8,21.3357,1,55.113313,0.891,NaN,NaN,NaN,NaN,NaN
39,United States,2005,87.3,20.7954,1,62.522420,0.900,NaN,77.49,298.2,41399.0,0.704
40,United States,2010,88.8,18.3676,1,68.205619,0.911,NaN,NaN,NaN,NaN,NaN
41,United States,2016,88.7,16.2469,1,70.920889,0.920,NaN,NaN,NaN,NaN,NaN
42,Canada,1990,83.2,16.6298,1,39.458393,0.860,NaN,NaN,NaN,NaN,NaN
43,Canada,1995,85.7,16.8341,1,43.244484,NaN,NaN,NaN,NaN,NaN,NaN
44,Canada,2000,89.3,18.5218,1,48.099701,0.890,NaN,NaN,NaN,NaN,NaN
45,Canada,2005,91.2,17.9035,1,53.216467,0.903,NaN,80.19,32.3,34273.0,0.716
46,Canada,2010,92.8,16.3644,1,52.574201,0.911,NaN,NaN,NaN,NaN,NaN
47,Canada,2016,93.8,15.3799,1,54.124076,0.926,NaN,NaN,NaN,NaN,NaN

In [2]:
Dict = { 
'China': { 'Healthcare Access and Quality Index': {}, 'Annual CO2 Emission':{}, 'Civil Liberty':{4} , 
          'Human Development Index':{},'Average Life Expectancy':{},'Total population (millions)':{},'GDP per capita':{},'Gender Gap Index':{}} ,  
'Japan':{   'Healthcare Access and Quality Index': { },'Annual CO2 Emissionn':{}, 'Civil Liberty':{8} , 
          'Human Development Index':{},'Average Life Expectancy':{},'Total population (millions)':{},'GDP per capita':{},'Gender Gap Index':{}},
'South Korea': { 'Healthcare Access and Quality Index': {}, 'Annual CO2 Emission':{}, 'Civil Liberty':{8}, 
          'Human Development Index':{},'Average Life Expectancy':{},'Total population (millions)':{},'GDP per capita':{},'Gender Gap Index':{}},
'North Korea':{  'Healthcare Access and Quality Index': {}, 'Annual CO2 Emission':{}, 'Civil Liberty':{3}, 
          'Human Development Index':{},'Average Life Expectancy':{},'Total population (millions)':{},'GDP per capita':{},'Gender Gap Index':{}},
'Taiwan':{  'Healthcare Access and Quality Index': {}, 'Annual CO2 Emission':{}, 'Civil Liberty':{9}, 
          'Human Development Index':{},'Average Life Expectancy':{},'Total population (millions)':{},'GDP per capita':{},'Gender Gap Index':{}},
'Mongolia':{ 'Healthcare Access and Quality Index': {}, 'Annual CO2 Emission':{}, 'Civil Liberty':{8} , 
          'Human Development Index':{},'Average Life Expectancy':{},'Total population (millions)':{},'GDP per capita':{},'Gender Gap Index':{}},
"United States":{   'Healthcare Access and Quality Index': {}, 'Annual CO2 Emission':{}, 'Civil Liberty':{9},
          'Human Development Index':{},'Average Life Expectancy':{},'Total population (millions)':{},'GDP per capita':{},'Gender Gap Index':{}},
'Canada':{'Healthcare Access and Quality Index': {}, 'Annual CO2 Emission':{}, 'Civil Liberty':{9},
          'Human Development Index':{},'Average Life Expectancy':{},'Total population (millions)':{},'GDP per capita':{},'Gender Gap Index':{}}  }

In [3]:
df_2005 = df.loc[df['Year'] == 2005]
df_2005 = df_2005.reset_index()
df_2005

,index,Country,Year,Health Access Quality Index,Annual CO2 emissions (per capita),Civil Liberty Status,Productivity: output per hour worked,Human Development Index,"Government expenditure on education, total (% of GDP)",Average Life Expectancy,Total population (millions),GDP per capita,Gender Gap Index
0,3,China,2005,62.0,4.4159,6,5.240102,0.638,NaN,72.98,1315.8,7204.0,0.656
1,9,Japan,2005,90.2,10.0554,2,42.499860,0.889,NaN,81.93,128.1,30615.0,0.645
2,15,South Korea,2005,83.0,10.2578,2,28.836795,0.860,NaN,78.17,47.8,20590.0,0.616
3,21,North Korea,2005,47.8,3.1342,7,NaN,NaN,NaN,68.39,NaN,NaN,NaN
4,27,Taiwan,2005,78.0,11.7354,1,43.208619,NaN,NaN,77.44,NaN,NaN,NaN
5,33,Mongolia,2005,47.2,3.3936,2,NaN,0.649,NaN,65.10,2.6,2175.0,0.682
6,39,United States,2005,87.3,20.7954,1,62.522420,0.900,NaN,77.49,298.2,41399.0,0.704
7,45,Canada,2005,91.2,17.9035,1,53.216467,0.903,NaN,80.19,32.3,34273.0,0.716

In [4]:
years = ['1990','1995','2000',"2005","2010","2016"]
country = ['China','Japan']
features = ['Healthcare Access and Quality Index','Annual CO2 Emission',"Civil Liberty", 
          'Human Development Index','Average Life Expectancy','Total population (millions)','GDP per capita','Gender Gap Index']

In [5]:

healthMax = max(df_2005['Health Access Quality Index'])
healthMin = min(df_2005['Health Access Quality Index'])
healthMax

91.2

In [6]:
climateMax = max(df_2005['Annual CO2 emissions (per capita)'])
climateMin = min(df_2005['Annual CO2 emissions (per capita)'])
climateMax

20.7954

In [7]:
hdiMax = max(df_2005['Human Development Index'])
hdiMin = min(df_2005['Human Development Index'])
hdiMax

0.903

In [8]:
lifeMax = max(df_2005['Average Life Expectancy'])
lifeMin = min(df_2005['Average Life Expectancy'])
lifeMax

81.93

In [9]:
popMax = max(df_2005['Total population (millions)'])
popMin = min(df_2005['Total population (millions)'])
popMax

1315.8

In [10]:
gdpMax = max(df_2005['GDP per capita'])
gdpMin = min(df_2005['GDP per capita'])
gdpMax

41399.0

In [11]:
genderGapMax = max(df_2005['Gender Gap Index'])
genderGapMin = min(df_2005['Gender Gap Index'])
genderGapMax

0.716

In [12]:
def healthScale (n):
    return ((n - healthMin) * 10) / (healthMax-healthMin)

In [13]:
def climateScale (n):
    return ((n - climateMin) * 10) / (climateMax-climateMin)

In [14]:
def hdiScale (n):
    return ((n - hdiMin) * 10) / (hdiMax-hdiMin)

In [15]:
def lifeScale (n):
    return ((n - lifeMin) * 10) / (lifeMax-lifeMin)

In [16]:
def popScale (n):
    return ((n - popMin) * 10) / (popMax-popMin)

In [17]:
def gdpScale(n):
     return ((n - gdpMin) * 10) / (gdpMax-gdpMin)

In [18]:
def genderGapScale(n):
     return ((n - genderGapMin) * 10) / (genderGapMax-genderGapMin)

In [19]:
health_new = []
health_new = map( healthScale ,df_2005['Health Access Quality Index'] )
health_new = list(health_new)
health_new

[3.363636363636363,
 9.772727272727273,
 8.136363636363637,
 0.13636363636363508,
 7.0,
 0.0,
 9.113636363636362,
 10.0]

In [20]:
df_2005['Health Access Quality Index']

0    62.0
1    90.2
2    83.0
3    47.8
4    78.0
5    47.2
6    87.3
7    91.2
Name: Health Access Quality Index, dtype: float64

In [21]:
climate_new = []
climate_new = map( climateScale ,df_2005['Annual CO2 emissions (per capita)'] )
climate_new = list(climate_new)

In [22]:
hdi_new = []
hdi_new = map( hdiScale ,df_2005['Human Development Index'] )
hdi_new = list(hdi_new)
hdi_new

[0.0,
 9.471698113207546,
 8.377358490566037,
 nan,
 nan,
 0.41509433962264186,
 9.88679245283019,
 10.0]

In [23]:
life_new = []
life_new = map( lifeScale ,df_2005['Average Life Expectancy'] )
life_new = list(life_new)
life_new

[4.682115270350566,
 10.0,
 7.76589423648247,
 1.9548425430778396,
 7.332144979203799,
 0.0,
 7.361853832442063,
 8.966131907308373]

In [24]:
pop_new = []
pop_new = map( popScale ,df_2005['Total population (millions)'] )
pop_new = list(pop_new)
pop_new

[10.0,
 0.9556807797745964,
 0.34419738044471515,
 nan,
 nan,
 0.0,
 2.2509899482180926,
 0.22616509290283274]

In [25]:
gdp_new = []
gdp_new = map( gdpScale ,df_2005['GDP per capita'] )
gdp_new = list(gdp_new)
gdp_new

[1.2821231898837446,
 7.250662859473792,
 4.694829696104426,
 nan,
 nan,
 0.0,
 10.0,
 8.18325514990822]

In [26]:
genderGap_new = []
genderGap_new = map( genderGapScale ,df_2005['Gender Gap Index'] )
genderGap_new = list(genderGap_new)
genderGap_new

[4.000000000000004,
 2.900000000000003,
 0.0,
 nan,
 nan,
 6.600000000000008,
 8.799999999999999,
 10.0]

In [27]:
df_2005['Health Access Quality Index']

0    62.0
1    90.2
2    83.0
3    47.8
4    78.0
5    47.2
6    87.3
7    91.2
Name: Health Access Quality Index, dtype: float64

In [28]:
country_name = ['China','Japan','South Korea','North Korea','Taiwan','Mongolia',"United States",'Canada']
country_name[0]

'China'

In [29]:
for i in range (8):
    Dict[country_name[i]]['Health True']= df_2005['Health Access Quality Index'][i]
    Dict[country_name[i]]['Healthcare Access and Quality Index']=health_new[i]
    print(Dict[country_name[i]])

{'Healthcare Access and Quality Index': 3.363636363636363, 'Annual CO2 Emission': {}, 'Civil Liberty': {4}, 'Human Development Index': {}, 'Average Life Expectancy': {}, 'Total population (millions)': {}, 'GDP per capita': {}, 'Gender Gap Index': {}, 'Health True': 62.0}
{'Healthcare Access and Quality Index': 9.772727272727273, 'Annual CO2 Emissionn': {}, 'Civil Liberty': {8}, 'Human Development Index': {}, 'Average Life Expectancy': {}, 'Total population (millions)': {}, 'GDP per capita': {}, 'Gender Gap Index': {}, 'Health True': 90.2}
{'Healthcare Access and Quality Index': 8.136363636363637, 'Annual CO2 Emission': {}, 'Civil Liberty': {8}, 'Human Development Index': {}, 'Average Life Expectancy': {}, 'Total population (millions)': {}, 'GDP per capita': {}, 'Gender Gap Index': {}, 'Health True': 83.0}
{'Healthcare Access and Quality Index': 0.13636363636363508, 'Annual CO2 Emission': {}, 'Civil Liberty': {3}, 'Human Development Index': {}, 'Average Life Expectancy': {}, 'Total population (millions)': {}, 'GDP per capita': {}, 'Gender Gap Index': {}, 'Health True': 47.8}
{'Healthcare Access and Quality Index': 7.0, 'Annual CO2 Emission': {}, 'Civil Liberty': {9}, 'Human Development Index': {}, 'Average Life Expectancy': {}, 'Total population (millions)': {}, 'GDP per capita': {}, 'Gender Gap Index': {}, 'Health True': 78.0}
{'Healthcare Access and Quality Index': 0.0, 'Annual CO2 Emission': {}, 'Civil Liberty': {8}, 'Human Development Index': {}, 'Average Life Expectancy': {}, 'Total population (millions)': {}, 'GDP per capita': {}, 'Gender Gap Index': {}, 'Health True': 47.2}
{'Healthcare Access and Quality Index': 9.113636363636362, 'Annual CO2 Emission': {}, 'Civil Liberty': {9}, 'Human Development Index': {}, 'Average Life Expectancy': {}, 'Total population (millions)': {}, 'GDP per capita': {}, 'Gender Gap Index': {}, 'Health True': 87.3}
{'Healthcare Access and Quality Index': 10.0, 'Annual CO2 Emission': {}, 'Civil Liberty': {9}, 'Human Development Index': {}, 'Average Life Expectancy': {}, 'Total population (millions)': {}, 'GDP per capita': {}, 'Gender Gap Index': {}, 'Health True': 91.2}

In [30]:
for i in range (8):
    Dict[country_name[i]]['CO2 True']=df_2005['Annual CO2 emissions (per capita)'][i]
    Dict[country_name[i]]['Annual CO2 Emission']=climate_new[i]
    print(Dict[country_name[i]])

{'Healthcare Access and Quality Index': 3.363636363636363, 'Annual CO2 Emission': 0.7257151269449413, 'Civil Liberty': {4}, 'Human Development Index': {}, 'Average Life Expectancy': {}, 'Total population (millions)': {}, 'GDP per capita': {}, 'Gender Gap Index': {}, 'Health True': 62.0, 'CO2 True': 4.4159}
{'Healthcare Access and Quality Index': 9.772727272727273, 'Annual CO2 Emissionn': {}, 'Civil Liberty': {8}, 'Human Development Index': {}, 'Average Life Expectancy': {}, 'Total population (millions)': {}, 'GDP per capita': {}, 'Gender Gap Index': {}, 'Health True': 90.2, 'CO2 True': 10.0554, 'Annual CO2 Emission': 3.918873009761511}
{'Healthcare Access and Quality Index': 8.136363636363637, 'Annual CO2 Emission': 4.033474509093379, 'Civil Liberty': {8}, 'Human Development Index': {}, 'Average Life Expectancy': {}, 'Total population (millions)': {}, 'GDP per capita': {}, 'Gender Gap Index': {}, 'Health True': 83.0, 'CO2 True': 10.2578}
{'Healthcare Access and Quality Index': 0.13636363636363508, 'Annual CO2 Emission': 0.0, 'Civil Liberty': {3}, 'Human Development Index': {}, 'Average Life Expectancy': {}, 'Total population (millions)': {}, 'GDP per capita': {}, 'Gender Gap Index': {}, 'Health True': 47.8, 'CO2 True': 3.1342}
{'Healthcare Access and Quality Index': 7.0, 'Annual CO2 Emission': 4.87011075125133, 'Civil Liberty': {9}, 'Human Development Index': {}, 'Average Life Expectancy': {}, 'Total population (millions)': {}, 'GDP per capita': {}, 'Gender Gap Index': {}, 'Health True': 78.0, 'CO2 True': 11.7354}
{'Healthcare Access and Quality Index': 0.0, 'Annual CO2 Emission': 0.1468756369895592, 'Civil Liberty': {8}, 'Human Development Index': {}, 'Average Life Expectancy': {}, 'Total population (millions)': {}, 'GDP per capita': {}, 'Gender Gap Index': {}, 'Health True': 47.2, 'CO2 True': 3.3936}
{'Healthcare Access and Quality Index': 9.113636363636362, 'Annual CO2 Emission': 10.0, 'Civil Liberty': {9}, 'Human Development Index': {}, 'Average Life Expectancy': {}, 'Total population (millions)': {}, 'GDP per capita': {}, 'Gender Gap Index': {}, 'Health True': 87.3, 'CO2 True': 20.7954}
{'Healthcare Access and Quality Index': 10.0, 'Annual CO2 Emission': 8.362568794872375, 'Civil Liberty': {9}, 'Human Development Index': {}, 'Average Life Expectancy': {}, 'Total population (millions)': {}, 'GDP per capita': {}, 'Gender Gap Index': {}, 'Health True': 91.2, 'CO2 True': 17.9035}

In [31]:
for i in range (8):
    Dict[country_name[i]]['HDI True']=df_2005['Human Development Index'][i]
    Dict[country_name[i]]['Human Development Index']=hdi_new[i]
    print(Dict[country_name[i]])

{'Healthcare Access and Quality Index': 3.363636363636363, 'Annual CO2 Emission': 0.7257151269449413, 'Civil Liberty': {4}, 'Human Development Index': 0.0, 'Average Life Expectancy': {}, 'Total population (millions)': {}, 'GDP per capita': {}, 'Gender Gap Index': {}, 'Health True': 62.0, 'CO2 True': 4.4159, 'HDI True': 0.638}
{'Healthcare Access and Quality Index': 9.772727272727273, 'Annual CO2 Emissionn': {}, 'Civil Liberty': {8}, 'Human Development Index': 9.471698113207546, 'Average Life Expectancy': {}, 'Total population (millions)': {}, 'GDP per capita': {}, 'Gender Gap Index': {}, 'Health True': 90.2, 'CO2 True': 10.0554, 'Annual CO2 Emission': 3.918873009761511, 'HDI True': 0.889}
{'Healthcare Access and Quality Index': 8.136363636363637, 'Annual CO2 Emission': 4.033474509093379, 'Civil Liberty': {8}, 'Human Development Index': 8.377358490566037, 'Average Life Expectancy': {}, 'Total population (millions)': {}, 'GDP per capita': {}, 'Gender Gap Index': {}, 'Health True': 83.0, 'CO2 True': 10.2578, 'HDI True': 0.86}
{'Healthcare Access and Quality Index': 0.13636363636363508, 'Annual CO2 Emission': 0.0, 'Civil Liberty': {3}, 'Human Development Index': nan, 'Average Life Expectancy': {}, 'Total population (millions)': {}, 'GDP per capita': {}, 'Gender Gap Index': {}, 'Health True': 47.8, 'CO2 True': 3.1342, 'HDI True': nan}
{'Healthcare Access and Quality Index': 7.0, 'Annual CO2 Emission': 4.87011075125133, 'Civil Liberty': {9}, 'Human Development Index': nan, 'Average Life Expectancy': {}, 'Total population (millions)': {}, 'GDP per capita': {}, 'Gender Gap Index': {}, 'Health True': 78.0, 'CO2 True': 11.7354, 'HDI True': nan}
{'Healthcare Access and Quality Index': 0.0, 'Annual CO2 Emission': 0.1468756369895592, 'Civil Liberty': {8}, 'Human Development Index': 0.41509433962264186, 'Average Life Expectancy': {}, 'Total population (millions)': {}, 'GDP per capita': {}, 'Gender Gap Index': {}, 'Health True': 47.2, 'CO2 True': 3.3936, 'HDI True': 0.649}
{'Healthcare Access and Quality Index': 9.113636363636362, 'Annual CO2 Emission': 10.0, 'Civil Liberty': {9}, 'Human Development Index': 9.88679245283019, 'Average Life Expectancy': {}, 'Total population (millions)': {}, 'GDP per capita': {}, 'Gender Gap Index': {}, 'Health True': 87.3, 'CO2 True': 20.7954, 'HDI True': 0.9}
{'Healthcare Access and Quality Index': 10.0, 'Annual CO2 Emission': 8.362568794872375, 'Civil Liberty': {9}, 'Human Development Index': 10.0, 'Average Life Expectancy': {}, 'Total population (millions)': {}, 'GDP per capita': {}, 'Gender Gap Index': {}, 'Health True': 91.2, 'CO2 True': 17.9035, 'HDI True': 0.903}

In [32]:
for i in range (8):
    Dict[country_name[i]]['Life True']=df_2005['Average Life Expectancy'][i]
    Dict[country_name[i]]['Average Life Expectancy']=life_new[i]
    print(Dict[country_name[i]])

{'Healthcare Access and Quality Index': 3.363636363636363, 'Annual CO2 Emission': 0.7257151269449413, 'Civil Liberty': {4}, 'Human Development Index': 0.0, 'Average Life Expectancy': 4.682115270350566, 'Total population (millions)': {}, 'GDP per capita': {}, 'Gender Gap Index': {}, 'Health True': 62.0, 'CO2 True': 4.4159, 'HDI True': 0.638, 'Life True': 72.98}
{'Healthcare Access and Quality Index': 9.772727272727273, 'Annual CO2 Emissionn': {}, 'Civil Liberty': {8}, 'Human Development Index': 9.471698113207546, 'Average Life Expectancy': 10.0, 'Total population (millions)': {}, 'GDP per capita': {}, 'Gender Gap Index': {}, 'Health True': 90.2, 'CO2 True': 10.0554, 'Annual CO2 Emission': 3.918873009761511, 'HDI True': 0.889, 'Life True': 81.93}
{'Healthcare Access and Quality Index': 8.136363636363637, 'Annual CO2 Emission': 4.033474509093379, 'Civil Liberty': {8}, 'Human Development Index': 8.377358490566037, 'Average Life Expectancy': 7.76589423648247, 'Total population (millions)': {}, 'GDP per capita': {}, 'Gender Gap Index': {}, 'Health True': 83.0, 'CO2 True': 10.2578, 'HDI True': 0.86, 'Life True': 78.17}
{'Healthcare Access and Quality Index': 0.13636363636363508, 'Annual CO2 Emission': 0.0, 'Civil Liberty': {3}, 'Human Development Index': nan, 'Average Life Expectancy': 1.9548425430778396, 'Total population (millions)': {}, 'GDP per capita': {}, 'Gender Gap Index': {}, 'Health True': 47.8, 'CO2 True': 3.1342, 'HDI True': nan, 'Life True': 68.39}
{'Healthcare Access and Quality Index': 7.0, 'Annual CO2 Emission': 4.87011075125133, 'Civil Liberty': {9}, 'Human Development Index': nan, 'Average Life Expectancy': 7.332144979203799, 'Total population (millions)': {}, 'GDP per capita': {}, 'Gender Gap Index': {}, 'Health True': 78.0, 'CO2 True': 11.7354, 'HDI True': nan, 'Life True': 77.44}
{'Healthcare Access and Quality Index': 0.0, 'Annual CO2 Emission': 0.1468756369895592, 'Civil Liberty': {8}, 'Human Development Index': 0.41509433962264186, 'Average Life Expectancy': 0.0, 'Total population (millions)': {}, 'GDP per capita': {}, 'Gender Gap Index': {}, 'Health True': 47.2, 'CO2 True': 3.3936, 'HDI True': 0.649, 'Life True': 65.1}
{'Healthcare Access and Quality Index': 9.113636363636362, 'Annual CO2 Emission': 10.0, 'Civil Liberty': {9}, 'Human Development Index': 9.88679245283019, 'Average Life Expectancy': 7.361853832442063, 'Total population (millions)': {}, 'GDP per capita': {}, 'Gender Gap Index': {}, 'Health True': 87.3, 'CO2 True': 20.7954, 'HDI True': 0.9, 'Life True': 77.49}
{'Healthcare Access and Quality Index': 10.0, 'Annual CO2 Emission': 8.362568794872375, 'Civil Liberty': {9}, 'Human Development Index': 10.0, 'Average Life Expectancy': 8.966131907308373, 'Total population (millions)': {}, 'GDP per capita': {}, 'Gender Gap Index': {}, 'Health True': 91.2, 'CO2 True': 17.9035, 'HDI True': 0.903, 'Life True': 80.19}

In [33]:
for i in range (8):
    Dict[country_name[i]]['Pop True']=df_2005['Total population (millions)'][i]
    Dict[country_name[i]]['Total population (millions)']=pop_new[i]
    print(Dict[country_name[i]])

{'Healthcare Access and Quality Index': 3.363636363636363, 'Annual CO2 Emission': 0.7257151269449413, 'Civil Liberty': {4}, 'Human Development Index': 0.0, 'Average Life Expectancy': 4.682115270350566, 'Total population (millions)': 10.0, 'GDP per capita': {}, 'Gender Gap Index': {}, 'Health True': 62.0, 'CO2 True': 4.4159, 'HDI True': 0.638, 'Life True': 72.98, 'Pop True': 1315.8}
{'Healthcare Access and Quality Index': 9.772727272727273, 'Annual CO2 Emissionn': {}, 'Civil Liberty': {8}, 'Human Development Index': 9.471698113207546, 'Average Life Expectancy': 10.0, 'Total population (millions)': 0.9556807797745964, 'GDP per capita': {}, 'Gender Gap Index': {}, 'Health True': 90.2, 'CO2 True': 10.0554, 'Annual CO2 Emission': 3.918873009761511, 'HDI True': 0.889, 'Life True': 81.93, 'Pop True': 128.1}
{'Healthcare Access and Quality Index': 8.136363636363637, 'Annual CO2 Emission': 4.033474509093379, 'Civil Liberty': {8}, 'Human Development Index': 8.377358490566037, 'Average Life Expectancy': 7.76589423648247, 'Total population (millions)': 0.34419738044471515, 'GDP per capita': {}, 'Gender Gap Index': {}, 'Health True': 83.0, 'CO2 True': 10.2578, 'HDI True': 0.86, 'Life True': 78.17, 'Pop True': 47.8}
{'Healthcare Access and Quality Index': 0.13636363636363508, 'Annual CO2 Emission': 0.0, 'Civil Liberty': {3}, 'Human Development Index': nan, 'Average Life Expectancy': 1.9548425430778396, 'Total population (millions)': nan, 'GDP per capita': {}, 'Gender Gap Index': {}, 'Health True': 47.8, 'CO2 True': 3.1342, 'HDI True': nan, 'Life True': 68.39, 'Pop True': nan}
{'Healthcare Access and Quality Index': 7.0, 'Annual CO2 Emission': 4.87011075125133, 'Civil Liberty': {9}, 'Human Development Index': nan, 'Average Life Expectancy': 7.332144979203799, 'Total population (millions)': nan, 'GDP per capita': {}, 'Gender Gap Index': {}, 'Health True': 78.0, 'CO2 True': 11.7354, 'HDI True': nan, 'Life True': 77.44, 'Pop True': nan}
{'Healthcare Access and Quality Index': 0.0, 'Annual CO2 Emission': 0.1468756369895592, 'Civil Liberty': {8}, 'Human Development Index': 0.41509433962264186, 'Average Life Expectancy': 0.0, 'Total population (millions)': 0.0, 'GDP per capita': {}, 'Gender Gap Index': {}, 'Health True': 47.2, 'CO2 True': 3.3936, 'HDI True': 0.649, 'Life True': 65.1, 'Pop True': 2.6}
{'Healthcare Access and Quality Index': 9.113636363636362, 'Annual CO2 Emission': 10.0, 'Civil Liberty': {9}, 'Human Development Index': 9.88679245283019, 'Average Life Expectancy': 7.361853832442063, 'Total population (millions)': 2.2509899482180926, 'GDP per capita': {}, 'Gender Gap Index': {}, 'Health True': 87.3, 'CO2 True': 20.7954, 'HDI True': 0.9, 'Life True': 77.49, 'Pop True': 298.2}
{'Healthcare Access and Quality Index': 10.0, 'Annual CO2 Emission': 8.362568794872375, 'Civil Liberty': {9}, 'Human Development Index': 10.0, 'Average Life Expectancy': 8.966131907308373, 'Total population (millions)': 0.22616509290283274, 'GDP per capita': {}, 'Gender Gap Index': {}, 'Health True': 91.2, 'CO2 True': 17.9035, 'HDI True': 0.903, 'Life True': 80.19, 'Pop True': 32.3}

In [34]:
for i in range (8):
    Dict[country_name[i]]['GDP True']=df_2005['GDP per capita'][i]
    Dict[country_name[i]]['GDP per capita']=gdp_new[i]
    print(Dict[country_name[i]])

{'Healthcare Access and Quality Index': 3.363636363636363, 'Annual CO2 Emission': 0.7257151269449413, 'Civil Liberty': {4}, 'Human Development Index': 0.0, 'Average Life Expectancy': 4.682115270350566, 'Total population (millions)': 10.0, 'GDP per capita': 1.2821231898837446, 'Gender Gap Index': {}, 'Health True': 62.0, 'CO2 True': 4.4159, 'HDI True': 0.638, 'Life True': 72.98, 'Pop True': 1315.8, 'GDP True': 7204.0}
{'Healthcare Access and Quality Index': 9.772727272727273, 'Annual CO2 Emissionn': {}, 'Civil Liberty': {8}, 'Human Development Index': 9.471698113207546, 'Average Life Expectancy': 10.0, 'Total population (millions)': 0.9556807797745964, 'GDP per capita': 7.250662859473792, 'Gender Gap Index': {}, 'Health True': 90.2, 'CO2 True': 10.0554, 'Annual CO2 Emission': 3.918873009761511, 'HDI True': 0.889, 'Life True': 81.93, 'Pop True': 128.1, 'GDP True': 30615.0}
{'Healthcare Access and Quality Index': 8.136363636363637, 'Annual CO2 Emission': 4.033474509093379, 'Civil Liberty': {8}, 'Human Development Index': 8.377358490566037, 'Average Life Expectancy': 7.76589423648247, 'Total population (millions)': 0.34419738044471515, 'GDP per capita': 4.694829696104426, 'Gender Gap Index': {}, 'Health True': 83.0, 'CO2 True': 10.2578, 'HDI True': 0.86, 'Life True': 78.17, 'Pop True': 47.8, 'GDP True': 20590.0}
{'Healthcare Access and Quality Index': 0.13636363636363508, 'Annual CO2 Emission': 0.0, 'Civil Liberty': {3}, 'Human Development Index': nan, 'Average Life Expectancy': 1.9548425430778396, 'Total population (millions)': nan, 'GDP per capita': nan, 'Gender Gap Index': {}, 'Health True': 47.8, 'CO2 True': 3.1342, 'HDI True': nan, 'Life True': 68.39, 'Pop True': nan, 'GDP True': nan}
{'Healthcare Access and Quality Index': 7.0, 'Annual CO2 Emission': 4.87011075125133, 'Civil Liberty': {9}, 'Human Development Index': nan, 'Average Life Expectancy': 7.332144979203799, 'Total population (millions)': nan, 'GDP per capita': nan, 'Gender Gap Index': {}, 'Health True': 78.0, 'CO2 True': 11.7354, 'HDI True': nan, 'Life True': 77.44, 'Pop True': nan, 'GDP True': nan}
{'Healthcare Access and Quality Index': 0.0, 'Annual CO2 Emission': 0.1468756369895592, 'Civil Liberty': {8}, 'Human Development Index': 0.41509433962264186, 'Average Life Expectancy': 0.0, 'Total population (millions)': 0.0, 'GDP per capita': 0.0, 'Gender Gap Index': {}, 'Health True': 47.2, 'CO2 True': 3.3936, 'HDI True': 0.649, 'Life True': 65.1, 'Pop True': 2.6, 'GDP True': 2175.0}
{'Healthcare Access and Quality Index': 9.113636363636362, 'Annual CO2 Emission': 10.0, 'Civil Liberty': {9}, 'Human Development Index': 9.88679245283019, 'Average Life Expectancy': 7.361853832442063, 'Total population (millions)': 2.2509899482180926, 'GDP per capita': 10.0, 'Gender Gap Index': {}, 'Health True': 87.3, 'CO2 True': 20.7954, 'HDI True': 0.9, 'Life True': 77.49, 'Pop True': 298.2, 'GDP True': 41399.0}
{'Healthcare Access and Quality Index': 10.0, 'Annual CO2 Emission': 8.362568794872375, 'Civil Liberty': {9}, 'Human Development Index': 10.0, 'Average Life Expectancy': 8.966131907308373, 'Total population (millions)': 0.22616509290283274, 'GDP per capita': 8.18325514990822, 'Gender Gap Index': {}, 'Health True': 91.2, 'CO2 True': 17.9035, 'HDI True': 0.903, 'Life True': 80.19, 'Pop True': 32.3, 'GDP True': 34273.0}

In [35]:
for i in range (8):
    Dict[country_name[i]]['GGI True']=df_2005['Gender Gap Index'][i]
    Dict[country_name[i]]['Gender Gap Index']=genderGap_new[i]
    print(Dict[country_name[i]])

{'Healthcare Access and Quality Index': 3.363636363636363, 'Annual CO2 Emission': 0.7257151269449413, 'Civil Liberty': {4}, 'Human Development Index': 0.0, 'Average Life Expectancy': 4.682115270350566, 'Total population (millions)': 10.0, 'GDP per capita': 1.2821231898837446, 'Gender Gap Index': 4.000000000000004, 'Health True': 62.0, 'CO2 True': 4.4159, 'HDI True': 0.638, 'Life True': 72.98, 'Pop True': 1315.8, 'GDP True': 7204.0, 'GGI True': 0.656}
{'Healthcare Access and Quality Index': 9.772727272727273, 'Annual CO2 Emissionn': {}, 'Civil Liberty': {8}, 'Human Development Index': 9.471698113207546, 'Average Life Expectancy': 10.0, 'Total population (millions)': 0.9556807797745964, 'GDP per capita': 7.250662859473792, 'Gender Gap Index': 2.900000000000003, 'Health True': 90.2, 'CO2 True': 10.0554, 'Annual CO2 Emission': 3.918873009761511, 'HDI True': 0.889, 'Life True': 81.93, 'Pop True': 128.1, 'GDP True': 30615.0, 'GGI True': 0.645}
{'Healthcare Access and Quality Index': 8.136363636363637, 'Annual CO2 Emission': 4.033474509093379, 'Civil Liberty': {8}, 'Human Development Index': 8.377358490566037, 'Average Life Expectancy': 7.76589423648247, 'Total population (millions)': 0.34419738044471515, 'GDP per capita': 4.694829696104426, 'Gender Gap Index': 0.0, 'Health True': 83.0, 'CO2 True': 10.2578, 'HDI True': 0.86, 'Life True': 78.17, 'Pop True': 47.8, 'GDP True': 20590.0, 'GGI True': 0.616}
{'Healthcare Access and Quality Index': 0.13636363636363508, 'Annual CO2 Emission': 0.0, 'Civil Liberty': {3}, 'Human Development Index': nan, 'Average Life Expectancy': 1.9548425430778396, 'Total population (millions)': nan, 'GDP per capita': nan, 'Gender Gap Index': nan, 'Health True': 47.8, 'CO2 True': 3.1342, 'HDI True': nan, 'Life True': 68.39, 'Pop True': nan, 'GDP True': nan, 'GGI True': nan}
{'Healthcare Access and Quality Index': 7.0, 'Annual CO2 Emission': 4.87011075125133, 'Civil Liberty': {9}, 'Human Development Index': nan, 'Average Life Expectancy': 7.332144979203799, 'Total population (millions)': nan, 'GDP per capita': nan, 'Gender Gap Index': nan, 'Health True': 78.0, 'CO2 True': 11.7354, 'HDI True': nan, 'Life True': 77.44, 'Pop True': nan, 'GDP True': nan, 'GGI True': nan}
{'Healthcare Access and Quality Index': 0.0, 'Annual CO2 Emission': 0.1468756369895592, 'Civil Liberty': {8}, 'Human Development Index': 0.41509433962264186, 'Average Life Expectancy': 0.0, 'Total population (millions)': 0.0, 'GDP per capita': 0.0, 'Gender Gap Index': 6.600000000000008, 'Health True': 47.2, 'CO2 True': 3.3936, 'HDI True': 0.649, 'Life True': 65.1, 'Pop True': 2.6, 'GDP True': 2175.0, 'GGI True': 0.682}
{'Healthcare Access and Quality Index': 9.113636363636362, 'Annual CO2 Emission': 10.0, 'Civil Liberty': {9}, 'Human Development Index': 9.88679245283019, 'Average Life Expectancy': 7.361853832442063, 'Total population (millions)': 2.2509899482180926, 'GDP per capita': 10.0, 'Gender Gap Index': 8.799999999999999, 'Health True': 87.3, 'CO2 True': 20.7954, 'HDI True': 0.9, 'Life True': 77.49, 'Pop True': 298.2, 'GDP True': 41399.0, 'GGI True': 0.704}
{'Healthcare Access and Quality Index': 10.0, 'Annual CO2 Emission': 8.362568794872375, 'Civil Liberty': {9}, 'Human Development Index': 10.0, 'Average Life Expectancy': 8.966131907308373, 'Total population (millions)': 0.22616509290283274, 'GDP per capita': 8.18325514990822, 'Gender Gap Index': 10.0, 'Health True': 91.2, 'CO2 True': 17.9035, 'HDI True': 0.903, 'Life True': 80.19, 'Pop True': 32.3, 'GDP True': 34273.0, 'GGI True': 0.716}

In [36]:
print(Dict)

{'China': {'Healthcare Access and Quality Index': 3.363636363636363, 'Annual CO2 Emission': 0.7257151269449413, 'Civil Liberty': {4}, 'Human Development Index': 0.0, 'Average Life Expectancy': 4.682115270350566, 'Total population (millions)': 10.0, 'GDP per capita': 1.2821231898837446, 'Gender Gap Index': 4.000000000000004, 'Health True': 62.0, 'CO2 True': 4.4159, 'HDI True': 0.638, 'Life True': 72.98, 'Pop True': 1315.8, 'GDP True': 7204.0, 'GGI True': 0.656}, 'Japan': {'Healthcare Access and Quality Index': 9.772727272727273, 'Annual CO2 Emissionn': {}, 'Civil Liberty': {8}, 'Human Development Index': 9.471698113207546, 'Average Life Expectancy': 10.0, 'Total population (millions)': 0.9556807797745964, 'GDP per capita': 7.250662859473792, 'Gender Gap Index': 2.900000000000003, 'Health True': 90.2, 'CO2 True': 10.0554, 'Annual CO2 Emission': 3.918873009761511, 'HDI True': 0.889, 'Life True': 81.93, 'Pop True': 128.1, 'GDP True': 30615.0, 'GGI True': 0.645}, 'South Korea': {'Healthcare Access and Quality Index': 8.136363636363637, 'Annual CO2 Emission': 4.033474509093379, 'Civil Liberty': {8}, 'Human Development Index': 8.377358490566037, 'Average Life Expectancy': 7.76589423648247, 'Total population (millions)': 0.34419738044471515, 'GDP per capita': 4.694829696104426, 'Gender Gap Index': 0.0, 'Health True': 83.0, 'CO2 True': 10.2578, 'HDI True': 0.86, 'Life True': 78.17, 'Pop True': 47.8, 'GDP True': 20590.0, 'GGI True': 0.616}, 'North Korea': {'Healthcare Access and Quality Index': 0.13636363636363508, 'Annual CO2 Emission': 0.0, 'Civil Liberty': {3}, 'Human Development Index': nan, 'Average Life Expectancy': 1.9548425430778396, 'Total population (millions)': nan, 'GDP per capita': nan, 'Gender Gap Index': nan, 'Health True': 47.8, 'CO2 True': 3.1342, 'HDI True': nan, 'Life True': 68.39, 'Pop True': nan, 'GDP True': nan, 'GGI True': nan}, 'Taiwan': {'Healthcare Access and Quality Index': 7.0, 'Annual CO2 Emission': 4.87011075125133, 'Civil Liberty': {9}, 'Human Development Index': nan, 'Average Life Expectancy': 7.332144979203799, 'Total population (millions)': nan, 'GDP per capita': nan, 'Gender Gap Index': nan, 'Health True': 78.0, 'CO2 True': 11.7354, 'HDI True': nan, 'Life True': 77.44, 'Pop True': nan, 'GDP True': nan, 'GGI True': nan}, 'Mongolia': {'Healthcare Access and Quality Index': 0.0, 'Annual CO2 Emission': 0.1468756369895592, 'Civil Liberty': {8}, 'Human Development Index': 0.41509433962264186, 'Average Life Expectancy': 0.0, 'Total population (millions)': 0.0, 'GDP per capita': 0.0, 'Gender Gap Index': 6.600000000000008, 'Health True': 47.2, 'CO2 True': 3.3936, 'HDI True': 0.649, 'Life True': 65.1, 'Pop True': 2.6, 'GDP True': 2175.0, 'GGI True': 0.682}, 'United States': {'Healthcare Access and Quality Index': 9.113636363636362, 'Annual CO2 Emission': 10.0, 'Civil Liberty': {9}, 'Human Development Index': 9.88679245283019, 'Average Life Expectancy': 7.361853832442063, 'Total population (millions)': 2.2509899482180926, 'GDP per capita': 10.0, 'Gender Gap Index': 8.799999999999999, 'Health True': 87.3, 'CO2 True': 20.7954, 'HDI True': 0.9, 'Life True': 77.49, 'Pop True': 298.2, 'GDP True': 41399.0, 'GGI True': 0.704}, 'Canada': {'Healthcare Access and Quality Index': 10.0, 'Annual CO2 Emission': 8.362568794872375, 'Civil Liberty': {9}, 'Human Development Index': 10.0, 'Average Life Expectancy': 8.966131907308373, 'Total population (millions)': 0.22616509290283274, 'GDP per capita': 8.18325514990822, 'Gender Gap Index': 10.0, 'Health True': 91.2, 'CO2 True': 17.9035, 'HDI True': 0.903, 'Life True': 80.19, 'Pop True': 32.3, 'GDP True': 34273.0, 'GGI True': 0.716}}

In [37]:
countryindexes = pd.DataFrame.from_dict(Dict, orient = 'index')

In [38]:
countryindexes

,Healthcare Access and Quality Index,Annual CO2 Emission,Civil Liberty,Human Development Index,Average Life Expectancy,Total population (millions),GDP per capita,Gender Gap Index,Health True,CO2 True,HDI True,Life True,Pop True,GDP True,GGI True,Annual CO2 Emissionn
China,3.363636,0.725715,{4},0.000000,4.682115,10.000000,1.282123,4.0,62.0,4.4159,0.638,72.98,1315.8,7204.0,0.656,NaN
Japan,9.772727,3.918873,{8},9.471698,10.000000,0.955681,7.250663,2.9,90.2,10.0554,0.889,81.93,128.1,30615.0,0.645,{}
South Korea,8.136364,4.033475,{8},8.377358,7.765894,0.344197,4.694830,0.0,83.0,10.2578,0.860,78.17,47.8,20590.0,0.616,NaN
North Korea,0.136364,0.000000,{3},NaN,1.954843,NaN,NaN,NaN,47.8,3.1342,NaN,68.39,NaN,NaN,NaN,NaN
Taiwan,7.000000,4.870111,{9},NaN,7.332145,NaN,NaN,NaN,78.0,11.7354,NaN,77.44,NaN,NaN,NaN,NaN
Mongolia,0.000000,0.146876,{8},0.415094,0.000000,0.000000,0.000000,6.6,47.2,3.3936,0.649,65.10,2.6,2175.0,0.682,NaN
United States,9.113636,10.000000,{9},9.886792,7.361854,2.250990,10.000000,8.8,87.3,20.7954,0.900,77.49,298.2,41399.0,0.704,NaN
Canada,10.000000,8.362569,{9},10.000000,8.966132,0.226165,8.183255,10.0,91.2,17.9035,0.903,80.19,32.3,34273.0,0.716,NaN

In [45]:
def getItem(s):
    for x in s:
        return x
    
countryindexes['Civil Liberty'] = countryindexes['Civil Liberty'].apply(lambda x: getItem(x))

In [46]:
countryindexes.reset_index(inplace=True)
countryindexes= countryindexes.rename(columns = {'index':'Country'})
countryindexes

,Country,Healthcare Access and Quality Index,Annual CO2 Emission,Civil Liberty,Human Development Index,Average Life Expectancy,Total population (millions),GDP per capita,Gender Gap Index,Health True,CO2 True,HDI True,Life True,Pop True,GDP True,GGI True,Annual CO2 Emissionn
0,China,3.363636,0.725715,4,0.000000,4.682115,10.000000,1.282123,4.0,62.0,4.4159,0.638,72.98,1315.8,7204.0,0.656,NaN
1,Japan,9.772727,3.918873,8,9.471698,10.000000,0.955681,7.250663,2.9,90.2,10.0554,0.889,81.93,128.1,30615.0,0.645,{}
2,South Korea,8.136364,4.033475,8,8.377358,7.765894,0.344197,4.694830,0.0,83.0,10.2578,0.860,78.17,47.8,20590.0,0.616,NaN
3,North Korea,0.136364,0.000000,3,NaN,1.954843,NaN,NaN,NaN,47.8,3.1342,NaN,68.39,NaN,NaN,NaN,NaN
4,Taiwan,7.000000,4.870111,9,NaN,7.332145,NaN,NaN,NaN,78.0,11.7354,NaN,77.44,NaN,NaN,NaN,NaN
5,Mongolia,0.000000,0.146876,8,0.415094,0.000000,0.000000,0.000000,6.6,47.2,3.3936,0.649,65.10,2.6,2175.0,0.682,NaN
6,United States,9.113636,10.000000,9,9.886792,7.361854,2.250990,10.000000,8.8,87.3,20.7954,0.900,77.49,298.2,41399.0,0.704,NaN
7,Canada,10.000000,8.362569,9,10.000000,8.966132,0.226165,8.183255,10.0,91.2,17.9035,0.903,80.19,32.3,34273.0,0.716,NaN

In [47]:
df_nodes = pd.read_csv("nodes.csv")
df_nodes.dtypes

Unnamed: 0       int64
SubContinent    object
Country         object
Weight           int64
dtype: object

In [49]:
df_nodes.columns

Index(['Unnamed: 0', 'SubContinent', 'Country', 'Weight'], dtype='object')

In [45]:
countryindexes.dtypes
for x in countryindexes.Country:
    print(type(x))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [46]:
for x in df_nodes.Country:
    print(type(x))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [52]:
df_final = df_nodes.merge(countryindexes, on = 'Country', how = "left")
df_final

,Unnamed: 0,SubContinent,Country,Weight,Healthcare Access and Quality Index,Annual CO2 Emission,Civil Liberty,Human Development Index,Average Life Expectancy,Total population (millions),GDP per capita,Gender Gap Index,Health True,CO2 True,HDI True,Life True,Pop True,GDP True,GGI True,Annual CO2 Emissionn
0,0,North America,United States,8695577,9.113636,10.000000,9.0,9.886792,7.361854,2.250990,10.000000,8.8,87.3,20.7954,0.900,77.49,298.2,41399.0,0.704,NaN
1,1,North America,Canada,1415707,10.000000,8.362569,9.0,10.000000,8.966132,0.226165,8.183255,10.0,91.2,17.9035,0.903,80.19,32.3,34273.0,0.716,NaN
2,2,Latin America,Latin America,7703933,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Africa,Africa,11674618,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Europe,Europe,14025778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,Fmr Soviet Union,Fmr Soviet Union,4736991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,West Asia,West Asia,9528478,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,South Asia,South Asia,11528268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,East Asia,Hong Kong and Macao,2292230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,East Asia,China,1991399,3.363636,0.725715,4.0,0.000000,4.682115,10.000000,1.282123,4.0,62.0,4.4159,0.638,72.98,1315.8,7204.0,0.656,NaN
10,10,East Asia,Japan,472167,9.772727,3.918873,8.0,9.471698,10.000000,0.955681,7.250663,2.9,90.2,10.0554,0.889,81.93,128.1,30615.0,0.645,{}
11,11,East Asia,North Korea,54103,0.136364,0.000000,3.0,NaN,1.954843,NaN,NaN,NaN,47.8,3.1342,NaN,68.39,NaN,NaN,NaN,NaN
12,12,East Asia,South Korea,773143,8.136364,4.033475,8.0,8.377358,7.765894,0.344197,4.694830,0.0,83.0,10.2578,0.860,78.17,47.8,20590.0,0.616,NaN
13,13,East Asia,Mongolia,28142,0.000000,0.146876,8.0,0.415094,0.000000,0.000000,0.000000,6.6,47.2,3.3936,0.649,65.10,2.6,2175.0,0.682,NaN
14,14,South-East Asia,South-East Asia,7392392,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,15,Oceania,Oceania,2098266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
df_final.to_json("nodes_vfinal.json", orient = "index")